# Git files.
.git/
.github/
.gitignore

# Build artifacts.
dist/
/static/dist/
/static/node_modules/

# Configuration files.
.vscode/
.editorconfig
*.toml
config/**/*

# Human readable files.
README.md
LICENSE