<html>
  <head>
    <title>Air Alert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    {{template "navbar" .}}
    <div class="container is-mobile">
      <div class="columns is-centered">
        <div class="column is-4">
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="subtitle">The AQI is now</p>
                <p class="title" id="aqi">0</p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    if (!navigator.geolocation) {
      console.error("geolocation not supported")
    } else {
      navigator.geolocation.getCurrentPosition(l => {
        getAQI(l.coords.latitude, l.coords.longitude)
      },
      e => console.error(e))
    }

    function getAQI(latitude, longitude) {
      fetch(`/aqi/current?lat=${latitude}&long=${longitude}`)
        .then(resp => resp.text())
        .then(data => document.getElementById("aqi").textContent = data)
        .catch(e => console.error(e))
    }
  </script>
</html>