<div class="columns is-centered">
  <div class="column is-6">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article id="aqi-box" class="tile is-child box">
          <p class="subtitle">The AQI is now</p>
          <p id="aqi-value" class="title">...</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info box">
          <p class="title">Notifications</p>
        </article>
      </div>
    </div>
  </div>
</div>